<footer class="mt-4 pt-4 pb-10 border-t-4 border-teal-600">
  <p class="block text-center text-sm mb-6">
    Built with
    <a target="_blank" href="https://www.11ty.dev">11ty</a>
    by
    <a target="_blank" href="https://www.maprunner.co.uk">
      Maprunner
    </a>
  </p>
</footer>