<footer class="mt-4 mb-6 pt-4 pb-10 border-t-4 border-teal-500">
  <p class="text-sm float-left">
    Built with
    <a target="_blank" href="https://www.11ty.dev">11ty</a>
    by
    <a target="_blank" href="https://www.maprunner.co.uk">
      Maprunner
    </a>
  </p>
  <p class="text-sm float-right">
    <a href="{{ '/'  | url }}feed.xml">RSS feed</a>
  </p>
</footer>