{% from "macros.njk" import post_summary %}

<h1>Latest posts</h1>
<div class="mt-4 mx-auto grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3 latest-posts">
  {% for post in collections.frontposts %}
    {{ post_summary(post.url, post.data, legs[post.data.name]) }}
  {% endfor %}

</div>