<header class="bg-gray-900">
  <div class="container mx-auto max-w-screen-xl px-8 flex-grow">
    {% include 'navbar.njk' %}
    <div id="banner">
      <img src="../images/pan-1.jpg" alt="Hertfordshire Way scenery">
    </div>
  </div>
</header>