<header>
  <div class="bg-gray-900">
    <div class="container dark:bg-gray-900 mx-auto max-w-screen-xl px-8 flex-grow">
      {% include 'navbar.njk' %}
    </div>
  </div>
  <div class="bg-gray-300 dark:bg-gray-900 mx-auto">
    <div class="banner mx-8 max-w-screen-xl">
      {% Banner page.url %}
    </div>
  </div>
</header>