{# Used for post pictures so they can be used in Photoswipe lightbox #}
{% macro figure(src, caption, portrait, leg, index) %}
  {% set root = ["/images/", leg, "/", src] | join | url | replace(".jpg", "") %}
  {% set sizes = "(min-width: 768px) 368px, 100vw" %}
  <figure class="{% if portrait %}gallery-2x3{% else %}gallery-3x2{% endif %}" data-index="{{ index }}">
    <a href="{{ root }}.jpg" data-size="{% if portrait %}gallery-2x3{% else %}gallery-3x2{% endif %}">
      <picture>
        {% if portrait %}
          <source srcset="{{ root }}-247.webp 370w, {{ root }}-400.webp 600w" sizes="{{ sizes }}" type="image/webp">
            <source srcset="{{ root }}-247.jpg 370w, {{ root }}-400.jpg 600w" sizes="{{ sizes }}" type="image/jpeg">
            {% else %}
              <source srcset="{{ root }}-370.webp 370w, {{ root }}-600.webp 600w" sizes="{{ sizes }}" type="image/webp">
                <source srcset="{{ root }}-370.jpg 370w, {{ root }}-600.jpg 600w" sizes="{{ sizes }}" type="image/jpeg">
                {% endif %}
                <img src="{{ root }}-600.jpg" class="m-auto" alt="{{ caption }}" title="{{ caption }}" loading="lazy"/>
              </picture>
            </a>
            <figcaption>{{ caption }}</figcaption>
          </figure>
        {% endmacro %}
        {# Used in post summary pictures #}
        {% macro picture(src, caption, portrait, leg) %}
          {% set root = ["/images/", leg, "/", src] | join | url | replace(".jpg", "") %}
          {% set sizes = "(min-width: 768px) 368px, 100vw" %}
          <picture>
            {% if portrait %}
              <source srcset="{{ root }}-247.webp 370w, {{ root }}-400.webp 600w" sizes="{{ sizes }}" type="image/webp">
                <source srcset="{{ root }}-247.jpg 370w, {{ root }}-400.jpg 600w" sizes="{{ sizes }}" type="image/jpeg">
                {% else %}
                  <source srcset="{{ root }}-370.webp 370w, {{ root }}-600.webp 600w" sizes="{{ sizes }}" type="image/webp">
                    <source srcset="{{ root }}-370.jpg 370w, {{ root }}-600.jpg 600w" sizes="{{ sizes }}" type="image/jpeg">
                    {% endif %}
                    <img src="{{ root }}-600.jpg" class="m-auto" alt="{{ caption }}" title="{{ caption }}" loading="lazy"/>
                  </picture>
                {% endmacro %}
                {# Post summary #}
                {% macro post_summary(url, data, leg) %}
                  <div class="flex flex-col px-4 py-4 bg-gray-300 dark:bg-gray-800 rounded-lg shadow-lg">
                    <div class="flex-1">
                      <div class="relative pb-5/6">
                        {{ picture(data.image, data.title, false, data.name) }}
                      </div>
                      <div class="p-3">
                        <h2>
                          <a class="block" href="{{ url | url }}">{{ data.title }}</a>
                        </h2>
                        {% if data.excerpt %}
                          <p class="italic my-2">{{ data.excerpt }}</p>
                        {% endif %}
                        <p>{% FixedDP leg.distance,
          1 %}
                          km,
                          {{ leg.climb }}
                          m,
                          {{ leg.time | prettifyMinutes }}</p>
                        <div class="my-2">
                          <p class="my-1">
                            <span class="text-gray-900 dark:text-white">From:
                            </span>
                            {{ leg.from }}
                          </p>
                          <p class="my-1">
                            <span class="text-gray-900 dark:text-white">To:
                            </span>
                            {{ leg.to }}
                          </p>
                          <p class="my-1">
                            <span class="text-gray-900 dark:text-white">Snack:
                            </span>
                            {{ leg.snack }}
                          </p>
                        </div>
                        <span class="block my-2 text-base italic">
                          {{ data.date | dateDisplay }}
                        </span>
                      </div>
                    </div>
                    <div>
                      <a href="{{ url | url }}" class="read-more">
                        Read full
                        {{ data.name | formatLegX }}
                        post
                      </a>
                    </div>
                  </div>
                {% endmacro %}