---
permalink: "{% if path %}{{ path | slug }}{% else %}{{'/post/'}}{{ title | slug }}{% endif %}/index.html"
---

{% extends 'page.njk' %}
{% macro figure1(pic) %}
  <figure class="{% if pic.portrait %}gallery-2x3{% else %}gallery-3x2{% endif %}">
    <a href="../../images/{{ name }}/{{ pic.src }}" data-size="{% if pic.portrait %}gallery-2x3{% else %}gallery-3x2{% endif %}">
      <img src="../../images/{{ name }}/{{ pic.src }}" class="m-auto" alt="{{ pic.caption }}" title="{{ pic.caption }}" loading="lazy"/>
    </a>
    <figcaption>{{ pic.caption }}</figcaption>
  </figure>
{% endmacro %}

{% macro figure(pic, leg) %}
  {% set root = ["../../images/", leg, "/", pic.src] | join | replace(".jpg", "") %}
  {% set sizes = "(min-width: 768px) 368px, 100vw" %}
  <figure class="{% if pic.portrait %}gallery-2x3{% else %}gallery-3x2{% endif %}">
    <a href="../../images/{{ name }}/{{ pic.src }}" data-size="{% if pic.portrait %}gallery-2x3{% else %}gallery-3x2{% endif %}">
      <picture>
        {% if pic.portrait %}
          <source srcset="{{ root }}-247.webp 370w, {{ root }}-400.webp 600w" sizes="{{ sizes }}" type="image/webp">
          <source srcset="{{ root }}-247.jpg 370w, {{ root }}-400.jpg 600w" sizes="{{ sizes }}" type="image/jpeg">
        {% else %}
          <source srcset="{{ root }}-370.webp 370w, {{ root }}-600.webp 600w" sizes="{{ sizes }}" type="image/webp">
          <source srcset="{{ root }}-370.jpg 370w, {{ root }}-600.jpg 600w" sizes="{{ sizes }}" type="image/jpeg">
        {% endif %}
        <img src="{{ root }}-600.jpg" class="m-auto" alt="{{ pic.caption }}" title="{{ pic.caption }}"/>
      </picture>
    </a>
    <figcaption>{{ pic.caption }}</figcaption>
  </figure>
{% endmacro %}

{% block body %}
  <h1>{{ title }}</h1>
  {% if excerpt %}
    <p class="excerpt italic my-4">{{ excerpt }}</p>
  {% endif %}
  <div class="flex flex-wrap">
    <div class="w-full md:w-4/12 order-last md:order-first pr-4 pb-4">
      <div class="gallery">
        <ul>
          {% for pic in pics[name] %}
            <li>
              {{ figure(pic, name) }}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="w-full md:w-5/12 pr-4 pb-4">
      <div class="content">
        {{ content | safe }}
      </div>
      {%- set nextPost = collections['post'] | getNextCollectionItem(page) %}
      {%- if nextPost %}
        <p class="uppercase text-xs mt-6">Next</p>
        <p class="font-bold mb-2">
          <a href="{{ nextPost.url | url }}">
            <h2>{{ nextPost.data.title }}</h2>
          </a>
        </p>
      {% endif %}
      {%- set previousPost = collections['post'] | getPreviousCollectionItem(page) %}
      {%- if previousPost %}
        <p class="uppercase text-xs mt-6">Previous</p>
        <p class="font-bold">
          <a href="{{ previousPost.url | url }}">
            <h2>{{ previousPost.data.title }}</h2>
          </a>
        </p>
      {% endif %}
    </div>
    <div class="w-full md:w-3/12 order-first md:order-last bg-gray-800 p-4 mb-4">
      <p>
        <span class="text-white">Date:
        </span>{{ date | dateDisplay }}</p>
      <p>
        <span class="text-white">Distance:
        </span>{{ legs[name].distance }}km</p>
      <p>
        <span class="text-white">Climb:
        </span>{{ legs[name].climb }}m</p>
      <p>
        <span class="text-white">High:
        </span>{{ legs[name].high }}m</p>
      <p>
        <span class="text-white">Low:
        </span>{{ legs[name].low }}m</p>
      <p>
        <span class="text-white">Time:
        </span>{{ legs[name].time | prettifyMinutes }}</p>
      <div class="my-2">
        <p class="my-1">
          <span class="text-white">From:
          </span>{{ legs[name].from }}
        </p>
        <p class="my-1">
          <span class="text-white">To:
          </span>{{ legs[name].to }}
        </p>
        <p class="my-1">
          <span class="text-white">Snack:
          </span>{{ legs[name].snack }}
        </p>
        <p class="my-1">
          <span class="text-white">Orienteering maps:
          </span>{{ legs[name].omaps }}
        </p>
      </div>
      {% LegMap name %}
      <div class="rounded-lg shadow-lg my-4">
        <img src="../../images/{{ name }}/{{ name }}.png"/>
      </div>
      {% if tags %}
        <div class="m-2">
          {% for tag in tags %}
            {%- if tag !== "post" -%}
              <a class="tag {{ tag | replace('.', '') }}" href="{{ site.baseUrl }}tags/{{ tag | slugifyTag }}">{{ tag }}</a>
            {%- endif -%}
          {% endfor %}
        </div>
      {% endif %}
      {%- set nextPost = collections['post'] | getNextCollectionItem(page) %}
      {%- if nextPost %}
        <p class="uppercase text-xs mt-6">Next</p>
        <p class="font-bold mb-2">
          <a href="{{ nextPost.url | url }}">
            <h2>{{ nextPost.data.title }}</h2>
          </a>
        </p>
      {% endif %}
      {%- set previousPost = collections['post'] | getPreviousCollectionItem(page) %}
      {%- if previousPost %}
        <p class="uppercase text-xs mt-6">Previous</p>
        <p class="font-bold">
          <a href="{{ previousPost.url | url }}">
            <h2>{{ previousPost.data.title }}</h2>
          </a>
        </p>
      {% endif %}
    </div>
  </div>
  <!-- Root element of PhotoSwipe. Must have class pswp. -->
  <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <!-- Background of PhotoSwipe. It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>
    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">
      <!-- Container that holds slides. PhotoSwipe keeps only 3 of them in the DOM to save memory. Don't modify these 3 pswp__item elements, data is added later on. -->
      <div class="pswp__container">
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
      </div>
      <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
      <div class="pswp__ui pswp__ui--hidden">
        <div class="pswp__top-bar">
          <!-- Controls are self-explanatory. Order can be changed. -->
          <div class="pswp__counter"></div>
          <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
          {# <button class="pswp__button pswp__button--share" title="Share"></button> #}
          <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
          <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
          <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
          <div class="pswp__preloader">
            <div class="pswp__preloader__icn">
              <div class="pswp__preloader__cut">
                <div class="pswp__preloader__donut"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
          <div class="pswp__share-tooltip"></div>
        </div>
        <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
        <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
        <div class="pswp__caption">
          <div class="pswp__caption__center"></div>
        </div>
      </div>
    </div>
  {% endblock %}