/* Font (see https://fonts.google.com) */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

html,
body {
  @apply antialiased text-gray-500 bg-gray-900;
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold leading-tight mt-3 text-yellow-600;
}

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}

h3 {
  @apply text-lg;
}

h4 {
  @apply text-base;
}

a {
  @apply font-bold text-teal-600;
}

a:hover {
  @apply underline text-gray-200;
}

p {
  @apply text-lg;
}

hr {
  @apply mt-4 mb-2 border-dotted border-b border-gray-600;
}

.content > img {
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
  max-width: 100%;
  min-width: 100px;
}

.content > p {
  @apply pb-6;
}

.next-page,
.previous-page,
.first-page,
.last-page {
  @apply font-bold whitespace-no-wrap text-center;
}

.next-page::after {
  content: ' ►';
}

.previous-page::before {
  content: '◄ ';
}

.first-page::before {
  content: '| ';
}

.last-page::after {
  content: ' |';
}

.banner {
  height: 200px;
  background-image: url('../images/panorama-1.jpg');
  background-position: center;
}

.fullMap {
  width: 100%;
  height: 750px;
  margin-top: 2rem;
}

.legMap {
  width: 100%;
  height: 250px;
  margin-top: 2rem;
}

.cropcircle {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  background: #eee no-repeat center;
  background-size: cover;
}

#hway-sign {
  background-image: url(../images/leg1/leg1-hway-sign.jpg);
}

#devGPX {
  display: none;
}

.read-more {
  @apply bg-teal-600 text-white text-base font-bold py-2 px-4 rounded;
}

.stat {
  @apply text-2xl text-yellow-600;
}

.stat-title {
  @apply text-lg;
}

.leg-pic {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #444;
}

.leg-pic-portrait {
  width: 67%;
}

.caption {
  @apply text-center text-base italic text-gray-500;
}

.ol-control ul {
  font-size: 0.75rem;
}
