@keyframes tag-hover {
  100% {
    @apply text-gray-900 border-white dark:text-white dark:border-gray-900;
    border: 1px solid;
    background-color: transparent;
    text-decoration: underline;
  }
}

.tag {
  @apply inline-block px-2 py-1 mr-2 mb-2 text-sm font-bold rounded lowercase text-white bg-teal-600;
  border: 1px solid transparent;
}

.tag:hover {
  animation: tag-hover 500ms both;
}

.tag:before {
  content: '#';
}

.tagscloud {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;

  a {
    @apply text-white no-underline;
    border: 1px solid transparent;
    display: inline-block;
    margin: 0.2em 0.3em;
    padding: 0.1em 0.3em;
    white-space: nowrap;
    border-radius: 0.5em;
  }
  a:hover {
    animation: tag-hover 500ms both;
  }

  a.tag1 {
    @apply bg-gray-900;
  }

  a.tag2 {
    @apply bg-gray-800;
  }

  a.tag3 {
    @apply bg-gray-700;
  }

  a.tag4 {
    @apply bg-gray-600;
  }
  a.tag5 {
    @apply bg-gray-500;
  }
}
