---
permalink: "map/"
---
{% extends 'page.njk' %}
{% block body %}
  {% include "stats.njk" %}
  <h1>Map</h1>
  <div id="map" class="fullMap mb-6"></div>
  <h1>Profiles</h1>
  <div class="bg-gray-800 rounded-lg shadow-lg ct-chart ct-double-octave">
    {% include "../data/leg11.svg" %}
  </div>
{% endblock %}