---
permalink: "progress/"
---
{% extends 'page.njk' %}
{% block body %}
  {% include "stats.njk" %}
  <h1>Progress</h1>
  <div class="progress-table m-2">
    <table>
      <thead>
        <tr>
          <th rowspan="2">#</th>
          <th rowspan="2">Leg</th>
          <th rowspan="2">Profile</th>
          <th colspan="5">Leg</th>
          <th colspan="3">Totals</th>
        </tr>
        <tr>
          <th>Length (km)</th>
          <th>Time</th>
          <th>Climb (m)</th>
          <th>High (m)</th>
          <th>Low (m)</th>
          <th>Length (km)</th>
          <th>Time</th>
          <th>Climb (m)</th>
        </tr>
      </thead>
      <tbody>
        {% for leg, detail in legs %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>
              <a href="{% LegLink leg, detail.title %}">{{ detail.title }}</a>
            </td>
            <td class="td-profile"><img src="../images/{{ detail.name }}/{{ detail.name }}.png" alt="Leg {{ loop.index }} profile" loading="lazy"/></td>
            <td class="text-center">{% FixedDP detail.distance,
              1 %}</td>
            <td class="text-center">{{ detail.time | prettifyAbbrevMinutes }}</td>
            <td class="text-center">{{ detail.climb}}</td>
            <td class="text-center">{{ detail.high}}</td>
            <td class="text-center">{{ detail.low}}</td>
            <td class="text-center">{{ stats.legTable[loop.index0].totDistance }}</td>
            <td class="text-center">{{ stats.legTable[loop.index0].totTime | prettifyAbbrevMinutes }}</td>
            <td class="text-center">{{ stats.legTable[loop.index0].totClimb }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}