---
date: 2021-03-13
---
{% extends 'page.njk' %}
{% block body %}
  {% include "intro.njk" %}
  {% include "stats.njk" %}
  {% include "front-page-posts.njk" %}
  {% include 'structured-data.njk' %}
{% endblock %}