---
pagination:
  data: collections.post
  size: 100
  alias: posts
  reverse: true
permalink: "post/"
---
{% extends 'page.njk' %}

{% from "macros/post-summary.njk" import post_summary %}

{% block body %}
  <h1>All posts</h1>
  <div class="max-w-screen-xl mt-4 mx-auto grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
    {% for post in posts %}
      {{ post_summary(post.url, post.data, legs[post.data.name]) }}
    {% endfor %}
  </div>
  {# {% include "postsnav.njk" %} #}
{% endblock %}